/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My Style*/

.header-h1 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 50px;
}

hr {
	width: 400px;
	border-style: dotted;
}

.header-h2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
	font-size: 30px;
}

.box1{
	background-color: grey;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: auto;
	border:15px solid skyblue;
	outline: 4px solid black;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 20px pink;	
}

.cir1{
	display: inline-block;
	background-color: grey;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.cir2{
	display: inline-block;
	background-color: skyblue;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.cir3{
	display: inline-block;
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.cir4{
	display: inline-block;
	background-color: pink;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.circle {
	padding-top: 50px;
	text-align:center;
	padding-bottom: 30px;
}

.a1 {
	margin-right: 10px;
}

.header-h3 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 30px;
}

.header-h4 {
	text-align: center;
	padding-bottom: 40px;
	font-size: 20px;
}

.box2 {
	width: 600px;
	height: 120px;
	margin: auto;
	border: 1px solid grey;
	margin-bottom: 40px;
}

.small1 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	box-sizing: border-box;
	}

.small2 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	box-sizing: border-box;
	}

.small3 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 0px 0px 10px 0px;
	box-sizing: border-box;
	}


.header-h5 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
}

.box3 {
	width: 600px;
	height: 250px;
	margin: auto;
	border: 1px solid grey;
	margin-bottom: 40px;
}


.small4 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	}

.small5 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	}

.small6 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	}



.box4 {
	width: 600px;
	height: 120px;
	margin: auto;
	border: 1px solid grey;
	margin-bottom: 40px;
}


.small7 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	}

.small8 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	}

.small9 {
	display: inline-block;
	background-color: grey;
	width: 180px;
	height: 100px;
	margin: 0px 0px 10px 0px;
	border: 1px solid black;
	box-sizing: border-box;
	}